@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-main: #F3E3D9;
    --accent-olive: #8E9478;
    --accent-olive-dark: #6F745D;
    --text-main: #2E2A27;
    --text-secondary: #fcfcfc;
    --line-soft: #9A9A8A;
    --font-family-main: 'Great', cursive;
    --font-family-secondary: 'Cormorant', cursive, serif;
    --font-family-third: 'Montserrat', cursive;
}

body {
    overflow-x: hidden;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main);
}

/* SECTION START */
.start {
    height: 100vh;
    width: 100%;

    background-image: url("../assets/images/photo-start.jpg");
    background-size: cover;
    background-position: center 30%; /* подбираешь процент */
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;  /* текст вниз */
    align-items: center;

    padding-bottom: 80px;       /* отступ от низа */
}

.start__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.start::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
            to bottom,
            rgba(0,0,0,0.35),
            rgba(0,0,0,0.35)
    );
    z-index: -1;
}

.start h1,
.start p {
    font-family: "Great Vibes", cursive, serif;
    color: var(--text-secondary);
    line-height: 1.05;
    margin: 0;
}

.start h1 {
    font-size: clamp(42px, 8vw, 110px);
}

.start p {
    font-size: clamp(28px, 6vw, 90px);
    margin-top: clamp(8px, 2vw, 16px);
}

/* SECTION WELCOME */

.welcome {
    overflow: hidden;
    box-sizing: border-box;
    padding: 120px 5px;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.welcome__wrap {
    position: relative;
    margin-top: 20px;
}

.welcome h2 {
    font-size: clamp(80px, 16vw, 120px);
    font-family: "Great Vibes", cursive, serif;
}

.welcome__description {
    font-family: "Cormorant Garamond", cursive, serif;
    font-size: clamp(40px, 16vw, 50px);
    text-align: center;
    max-width: 980px;
    padding-bottom: 80px;
}

.welcome ul {
    border: 1px solid var(--accent-olive);
    display: flex;
    width: 100%;
}

.welcome__item {
    position: relative;
    box-sizing: border-box;
    padding: clamp(20px, 2vw, 18px) clamp(8px, 3vw, 16px);
    font-family: "Montserrat", cursive, serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border: 1px solid var(--accent-olive);
    flex: 1;
    min-width: 300px;
}

.welcome__item_day {
    font-family: "Cormorant Garamond", cursive, serif;
    font-size: clamp(14px, 16vw, 40px);
}

.welcome__item_month {
    font-family: "Cormorant Garamond", cursive, serif;
    font-size: clamp(14px, 16vw, 40px);
}

.welcome__item_date {
    font-size: clamp(16px, 16vw, 140px);
}

.welcome__item--active .circle {
    position: absolute;
    inset: -30%;
    background-image: url("../assets/images/circle.png");
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    background-position: center;
}

/* TIME */
.time {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 140px 0;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.timeline-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;          /* регулирует «ширину волны» */
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.time ul {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px 0;
}

.time ul li {
    font-family: "Cormorant Garamond", cursive, serif;
    font-size: clamp(80px, 16vw, 120px);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.time ul li p {
    font-family: "Cormorant Garamond", cursive, serif;
    font-size: clamp(25px, 16vw, 40px);
}

/* PLACE */
.place {
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 120px 0 0 0;
}

.place h2 {
    font-size: clamp(80px, 16vw, 120px);
    font-family: "Great Vibes", cursive, serif;
}

.place p {
    font-family: "Cormorant Garamond", cursive, serif;
    font-size: clamp(40px, 16vw, 50px);
    text-align: center;
    max-width: 980px;
    padding-bottom: 80px;
}

.place__button {
    width: 300px;
    height: 300px;
    background-color: var(--accent-olive);
    display: flex;
    padding: 20px;
    border-radius: 50%;
    z-index: 0;
}

.place__button button {
    padding: 0;
    background-color: var(--accent-olive);
    border: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-family: "Cormorant Garamond", cursive, serif;
    font-size: clamp(20px, 20vw, 50px);
}

.place img {
    object-fit: cover;
    background-position: center;
    width: 100%;
}

/* DRESS-CODE */
.dress-code {
    overflow: hidden;
    padding: 120px 5px;
    box-sizing: border-box;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.dress-code h2 {
    font-size: clamp(80px, 16vw, 120px);
    font-family: "Great Vibes", cursive, serif;
}

.dress-code p {
    font-family: "Cormorant Garamond", cursive, serif;
    font-size: clamp(40px, 16vw, 50px);
    text-align: center;
    max-width: 980px;
    padding-bottom: 80px;
}

.dress-code ul {
    display: flex;
    gap: 25px;
}

.dress-code ul li {
    display: inline-block;
    width: clamp(20px, 16vw, 150px);
    height: clamp(20px, 16vw, 150px);
    background-color: var(--accent-olive);
}

.dress-code ul li:nth-child(1) {
    box-shadow: 5px 5px 5px #543B2F;
    background-color: #543B2F;
}

.dress-code ul li:nth-child(2) {
    box-shadow: 5px 5px 5px #FFF2E1;
    background-color: #FFF2E1;
}

.dress-code ul li:nth-child(3) {
    box-shadow: 5px 5px 5px #DACCBD;
    background-color: #DACCBD;
}

.dress-code ul li:nth-child(4) {
    box-shadow: 5px 5px 5px #C19C9B;
    background-color: #C19C9B;
}

.dress-code ul li:nth-child(5) {
    box-shadow: 5px 5px 5px #99A286;
    background-color: #99A286;
}

/* DETAILS */
.details {
    box-sizing: border-box;
    padding: 200px 5px;
    position: relative;
    background-image: url("../assets/images/details.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    isolation: isolate;
}

.details h2 {
    font-size: clamp(80px, 16vw, 120px);
    font-family: "Great Vibes", cursive, serif;
    color: var(--text-secondary);
    margin-bottom: 20px;
}

.details::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
            to bottom,
            rgba(0,0,0,0.35),
            rgba(0,0,0,0.8)
    );
    z-index: -1;
}

.details p {
    font-family: "Cormorant Garamond", cursive, serif;
    font-size: clamp(45px, 16vw, 65px);
    text-align: center;
    color: var(--text-secondary);
}

.details p {
    margin-bottom: 100px;
}

/* CONTACTS */
.contacts {
    overflow: hidden;
    box-sizing: border-box;
    padding: 120px 5px;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.contacts h2 {
    font-size: clamp(80px, 16vw, 120px);
    font-family: "Great Vibes", cursive, serif;
}

.contacts p {
    font-family: "Cormorant Garamond", cursive, serif;
    font-size: clamp(45px, 16vw, 65px);
    text-align: center;
}

/* SEE YOU SOON */
.see-you-soon {
    background-image: url("../assets/images/see-you-soon.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 100px 0;
}

.see-you-soon h2 {
    font-size: clamp(80px, 16vw, 120px);
    font-family: "Great Vibes", cursive, serif;
    color: var(--text-secondary);
}

.autoShow {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.autoShow.show {
    opacity: 1;
    transform: translateY(0);
}

.time .autoShow:nth-child(4) { transition-delay: 0.2s; }
.time .autoShow:nth-child(5) { transition-delay: 0.4s; }
.time .autoShow:nth-child(8) { transition-delay: 0.6s; }
.time .autoShow:nth-child(9) { transition-delay: 0.8s; }

@media screen and (min-width: 600px) {
    .start__container {
        padding-bottom: 60%;
    }
}